<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Financial Industry Services">
    <meta name="author" content="Julian Lim">
    <link rel="stylesheet" href="/public/css/modules/bootstrap.min.css">
    <link rel="stylesheet" href="/public/js/app/components/main/main.css">
    <link rel="stylesheet" href="/public/css/modules/bootstrap-select.min.css">
    <link href="/public/images/Alpha.png" rel="shortcut icon">
    <title>Alpha Calibration | Legal and Compliance for Financial Institutions</title>
    <meta name="description" content="Compliance Solutions for Financial Institutions" /> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head> 
</head>
<body>
    {{{body}}}
    <script src="/public/js/modules/jquery.min.js"></script>
    <script src="/public/js/modules/bootstrap.min.js"></script>
    <script src="/public/js/modules/bootstrap-select.min.js"></script>
</body>
</html>