<!DOCTYPE html>{{!--THIS IT THE HEADER PAGE FOR THE ADDRESEARCH TOOL--}}
<html lang="en">
<link rel="stylesheet" href="/public/css/modules/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/modules/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/error.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/customer-raw.css"/>
<link rel="stylesheet" href="/public/js/app/components/main/main.css">
<link rel="stylesheet" href="/public/css/modules/bootstrap-select.min.css">
<link href="/public/js/SlickQuiz/css/slickQuiz.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<body>
{{!-- <div class="row blankrow"> --}}
{{!-- </div> --}}
    {{!-- <div class="col-sm-2"> --}}
    {{!-- </div> --}}
    <div class="container-fluid">
        <div class="col-sm-12">
            {{{body}}}
        </div>
    </div>
<script src="/public/js/ckeditor/ckeditor.js"></script>
<script src="/public/js/modules/jquery.min.js"></script> 
<script src="/public/js/modules/jquery-ui.min.js"></script>   
<script src="/public/js/modules/bootstrap.min.js"></script>
<script src="/public/js/modules/bootstrap-select.min.js"></script>
<script src="/public/js/modules/moment.min.js"></script>
<script src="/scripts/linkifyjs/dist/linkify.min.js"></script>
<script src="/scripts/linkifyjs/dist/linkify-html.min.js"></script>

<script src="/public/js/nopassword.js"></script>
<script src="/public/js/SlickQuiz/js/slickQuiz-config.js"></script>
<script src="/public/js/SlickQuiz/js/slickQuiz.js"></script>
<script src="/public/js/app/components/bundle.js"></script>

</body>
</html>