<div class="success-wrapper">
	<img class="pic" src="/public/images/aclogo.png">
	<div class="success-page">
		<h2 style="text-align: center;">Thank you.</h2> 
		<h3 style="text-align: center;">{{{message}}}</h3> 
	</div>

</div>